{
  "presets": [
    ["es2015", { "modules": false }]
  ],
  "plugins": [
    "fast-async",
    "transform-object-rest-spread"
  ],
  "auxiliaryCommentBefore": "istanbul ignore next",
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {"exclude": ["**/*.spec.(js|vue)", "**/_specs"], "include": ["src/**/*.js"]}]
      ]
    }
  }
}
